$font-color: #333;
$navigation-bg-color: rgba(10, 10, 10, 1);
$navigation-font-color: rgba(240, 240, 240, 1);
$container-bg: rgba(22, 22, 22, 0.7);
$bg-color: #111;
$text-color: #bbb;
$portfolio-color: #bbb;
