html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  width: 100%;
  line-height: 1.5;
  font-family: 'Roboto Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #333;
  --navigation-bg-color: rgba(10, 10, 10, 1);
  --navigation-font-color: rgba(240, 240, 240, 1);
  --container-bg: rgba(22, 22, 22, 0.7);
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
